/* ===Default CSS=== */
body {
  font-family: "Work Sans", sans-serif;
  background-color: $bgColor;
}

.section {
  margin: 46px 0;
}

.container {
  max-width: 1170px;
  padding: 15px;
  margin: 0 auto;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}
