/* ===Default CSS=== */
body {
  font-family: "Work Sans", sans-serif;
  background-color: $bgColor;
  max-width: 100vw;
}

.section {
  margin: 46px 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  @include xl {
    max-width: 90%;
  }
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.rotate-270 {
  transform: rotate(270deg);
}

.rotate-180 {
  transform: rotate(180deg);
}
