/*===Pay CSS Start===*/
.pay {
  .container {
    padding: 0;
  }
  &-header {
    margin-bottom: 10px;
    margin-top: 51px;
    h3 {
      border-radius: 4px;
      padding: 14px 28px;
      color: $whiteColor;
      background-color: $primaryColor;
      font-size: $fz-24;
      font-weight: $fontWeightSemiBold;
      text-align: center;
      text-transform: capitalize;
    }
  }
  /*Pay Boxes*/
  &-box {
    padding: 32px 70px;
    background-color: $whiteColor;
    border-radius: 4px;
    margin-bottom: 10px;

    .content {
      text-transform: capitalize;
      label {
        font-size: $fz-16;
        font-weight: $fontWeightSemiBold;
        color: $primaryColor;
        display: block;
        margin-bottom: 10px;
      }
      input,
      select {
        border: 2px solid $bgColor;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        font-size: $fz-16;
        font-weight: $fontWeightMedium;
        color: $smTextColor2;
        &::placeholder {
          color: $smTextColor2;
        }
        &:focus {
          border: 2px solid $secondaryColor;
        }
      }
      input[type="date"] {
        text-transform: uppercase;
      }
      /*Credit Card*/
      .credit-card {
        grid-column: span 3;
        &-container {
          @include space-between;
          margin-bottom: 3px;
        }
        &-item {
          width: 147px;
          height: 85px;
          background-color: $bgColor;
          border-radius: 4px;
          cursor: pointer;
          border: 2px solid transparent;
          transition: 0.5s border ease, 0.5s background-color ease;
          &:hover {
            background-color: $whiteColor;
            border: 2px solid $secondaryColor;
          }
        }
      }

      .credit-card-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 54px;
        margin-top: 22px;
        margin-bottom: 10px;
      }
      /*Number Card*/
      .card-number {
        text-transform: lowercase;
      }
      /*Expiry Card*/
      .expiry-box {
        display: flex;
        gap: 10px;
      }

      .expiry-item {
        flex-basis: 70%;

        .expiry-parts {
          @include space-between;
          gap: 10px;
        }
      }
      .cvv {
        flex-basis: 30%;
      }
      /*Location Card*/
      .location {
        @include space-between;
        gap: 10px;
        & > * {
          flex-basis: 50%;
        }
      }
    }
  }
  /*Pay Btn*/
  &-btn {
    margin-top: 30px;
    button {
      padding: 12px 30px;
      border-radius: 4px;
      font-size: $fz-18;
      font-weight: $fontWeightBold;
      color: $whiteColor;
    }
    i {
      margin-right: 10px;
    }
    .add {
      background-color: $smTextColor2;
    }
    .continue {
      background-color: $secondaryColor;
      transition: 0.3s background-color ease, 0.3s color ease;
      &:hover {
        background-color: $primaryColor;
      }
    }
  }
}
