/*===Pay CSS Start===*/
.pay {
  .container {
    padding: 0;
  }
  &-header {
    margin-bottom: 10px;
    margin-top: 51px;
    h3 {
      border-radius: 4px;
      padding: 14px 28px;
      color: $whiteColor;
      background-color: $primaryColor;
      font-size: $fz-24;
      font-weight: $fontWeightSemiBold;
      text-align: center;
      text-transform: capitalize;
      @include md {
        font-size: $fz-20;
      }
    }
  }
  /*Pay Boxes*/
  &-box {
    padding: 32px 70px;
    background-color: $whiteColor;
    border-radius: 4px;
    margin-bottom: 10px;
    @include md {
      padding: 15px 25px;
    }

    .content {
      text-transform: capitalize;
      label {
        font-size: $fz-16;
        font-weight: $fontWeightSemiBold;
        color: $primaryColor;
        display: block;
        margin-bottom: 10px;
        text-transform: capitalize;
      }
      input,
      select {
        border: 2px solid $bgColor;
        border-radius: 4px;
        padding: 10px;
        width: 100%;
        font-size: $fz-16;
        font-weight: $fontWeightMedium;
        color: $smTextColor2;
        &::placeholder {
          color: $smTextColor2;
        }
        &:focus {
          border: 2px solid $secondaryColor;
        }
      }
      input[type="date"] {
        text-transform: uppercase;
      }
      /*Credit Card*/
      .credit-card {
        grid-column: span 3;
        &-container {
          @include space-between;
          gap: 10px;
          margin-bottom: 3px;
          @include lg {
            flex-wrap: wrap;
          }
          @include md {
            justify-content: center;
          }
        }
        &-item {
          flex-basis: 16%;
          height: 85px;
          background-color: $bgColor;
          border-radius: 4px;
          cursor: pointer;
          border: 2px solid transparent;
          transition: 0.5s border ease, 0.5s background-color ease;
          @include lg {
            flex-basis: 32%;
          }
          @include md {
            flex-basis: 45%;
          }
          @include sm {
            flex-basis: 40%;
          }
          @include xs {
            flex-basis: 80%;
          }
          &:hover {
            background-color: $whiteColor;
            border: 2px solid $secondaryColor;
          }
        }
      }

      .credit-card-details {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 54px;
        margin-top: 22px;
        margin-bottom: 10px;
        @include lg {
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;
        }
        @include md {
          grid-template-columns: repeat(1, 1fr);
          gap: 15px;
        }

        .dropdown-change {
          margin-top: 35px;
        }

        .dropdown-text {
          @include space-between;
          padding: 0;
          position: relative;
          background-color: $whiteColor;
          border-radius: 4px;
          i {
            position: absolute;
            right: 10px;
            pointer-events: none;
          }
          input {
            padding: 10px 18px;
            cursor: pointer;
            caret-color: transparent;
          }
        }

        .input-dropdown {
          position: relative;
          .dropdown-list {
            position: absolute;
            z-index: 999;
            background-color: $whiteColor;
            cursor: pointer;
            margin-top: 20px;
            padding: 0;
            width: 100%;
            border-radius: 4px;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
            li {
              padding: 10px 15px;
              color: $primaryColor;
              transition: 0.3s color ease, 0.3s background-color ease;
              &:hover {
                background-color: $secondaryColor;
                color: $whiteColor;
              }
            }
          }
        }
      }
      /*Number Card*/
      .card-number {
        text-transform: lowercase;
      }
      /*Expiry Card*/
      .expiry-box {
        display: flex;
        gap: 10px;
      }

      .expiry-item {
        flex-basis: 70%;

        .expiry-parts {
          @include space-between;
          gap: 10px;
        }
      }
      .cvv {
        flex-basis: 30%;
      }
      /*Location Card*/
      .location {
        @include space-between;
        gap: 10px;
        & > * {
          flex-basis: 50%;
        }
      }
    }
  }
  /*Pay Btn*/
  &-btn {
    margin-top: 30px;
    button {
      padding: 12px 30px;
      border-radius: 4px;
      font-size: $fz-18;
      font-weight: $fontWeightBold;
      color: $whiteColor;
      text-transform: capitalize;
      @include xs {
        width: 100%;
        text-align: center;
      }
    }
    i {
      margin-right: 10px;
    }
    .add {
      background-color: $smTextColor2;
    }
    .continue {
      background-color: $secondaryColor;
      transition: 0.3s background-color ease, 0.3s color ease;
      &:hover {
        background-color: $primaryColor;
      }
    }
  }
}
