.results-container {
  display: flex;
  padding: 0;
  gap: 40px;
}
.filter {
  background-color: $whiteColor;
  border-radius: 4px;
  overflow: hidden;
  width: 25%;
  color: $primaryColor;
  & > div:not(:first-child) {
    padding: 30px 0;
    margin: 0 30px;
  }
  .title {
    padding: 14px 30px;
    text-align: center;
    text-transform: uppercase;
    background-color: $primaryColor;
    color: $whiteColor;
    font-size: $fz-24;
    font-weight: $fontWeightSemiBold;
  }
  .filter-box {
    &:not(:nth-last-child(1), :nth-last-child(2)) {
      border-bottom: 5px dashed $bgColor;
    }
    .filter-title {
      margin-top: 30px;
      margin-bottom: 24px;
      font-size: $fz-20;
      font-weight: $fontWeightSemiBold;
      text-transform: capitalize;
      @include space-between;
      i {
        font-size: $fz-16;
        color: $smTextColor2;
        cursor: pointer;
        &:hover {
          color: $secondaryColor;
        }
      }
    }
    input[type="range"] {
      -webkit-appearance: none;
      width: 100%;
      height: 10px;
      background-color: $bgColor;
      transition: 0.3s background-color ease;
      cursor: pointer;
      border-radius: 32px;
      &:hover {
        background-color: $primaryColor;
      }
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        @include round(15px);
        border: 4px solid $primaryColor;
        cursor: pointer;
        &:hover {
          background: $whiteColor;
        }
      }

      &::-moz-range-thumb {
        @include round(15px);
        border: 2px solid $primaryColor;
        cursor: pointer;
        &:hover {
          background: $whiteColor;
        }
      }
    }

    .price-amount {
      font-weight: $fontWeightMedium;
      font-size: $fz-16;
      position: relative;
      left: 80px;
      margin-bottom: 5px;
      display: inline-block;
    }

    .depart-btn {
      display: block;
      background-color: $bgColor;
      width: 100%;
      border-radius: 4px;
      padding: 8px 20px;
      &:not(:last-child) {
        margin-bottom: 10px;
      }
      .icon {
        font-size: $fz-24;
      }
      span {
        font-weight: $fontWeightMedium;
        font-size: $fz-18;
        text-transform: capitalize;
        margin-left: 15px;
      }
    }

    .stops-btn {
      font-size: $fz-22;
      font-weight: $fontWeightMedium;
      background-color: $bgColor;
      padding: 10px 0;
      text-align: center;
      display: inline-block;
      width: 55px;
      border-radius: 4px;
      &.active {
        background-color: $primaryColor;
        color: $whiteColor;
      }
    }

    .airline-item {
      display: flex;
      margin-bottom: 25px;
      label {
        font-size: $fz-16;
        font-weight: $fontWeightMedium;
        text-transform: capitalize;
        cursor: pointer;
        i {
          font-size: $fz-18;
          width: 10px;
          .fa-square-o {
            color: $smTextColor2;
          }
        }
        span {
          margin-left: 10px;
        }
      }

      input:checked + label {
        .fa-square-o {
          display: none;
        }
        .fa-check-square-o {
          display: inline-block;
        }
      }

      input + label {
        .fa-square-o {
          display: inline-block;
        }
        .fa-check-square-o {
          display: none;
        }
      }
    }
  }
  .reset-btn {
    background-color: $smTextColor2;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    color: $whiteColor;
    border-radius: 4px;
    padding: 12px 0;
    cursor: pointer;
    transition: 0.3s background-color ease;
    &:hover {
      background-color: $secondaryColor;
    }
  }
}

.result-box {
  width: 75%;
  .sort-by {
    @include space-between;
    color: $primaryColor;
    font-size: $fz-18;
    font-weight: $fontWeightMedium;
    text-transform: capitalize;
    margin-bottom: 30px;
    select {
      background-color: $whiteColor;
      padding: 12px 18px;
      border-radius: 4px;
      font-size: $fz-16;
    }
  }
  .result-item {
    .departure {
      flex-basis: 80%;
      background-color: $whiteColor;
      border-radius: 4px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 0 30px;
      position: relative;
      &::after {
        content: "";
        width: 100%;
        height: calc(100% - 4px);
        position: absolute;
        right: -1px;
        top: 0;
        border-right: 2px dashed $bgColor;
      }
    }
    .price {
      flex-basis: 20%;
      text-align: center;
      background-color: $whiteColor;
      border-radius: 4px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding: 20px 30px;
    }
  }

  .departure-item {
    @include space-between;
    padding: 20px 0;
  }

  .departure-item:first-child {
    border-bottom: 1px solid $bgColor;
  }

  .result-single-item {
    display: flex;
    margin-bottom: 20px;
  }

  .airline-item {
    display: flex;
    margin-bottom: 10px;
    .airline-img {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      background-color: $bgColor4;
      border-radius: 4px;
    }
    .airline-details {
      font-size: $fz-13;
      color: $smTextColor2;
      text-transform: capitalize;
      span {
        text-transform: uppercase;
      }
    }
  }

  .onbound,
  .arrive {
    text-transform: uppercase;
    &-time {
      h6 {
        color: $primaryColor;
        font-size: $fz-24;
        font-weight: $fontWeightMedium;
      }
    }
    &-date {
      margin-bottom: 20px;
      span {
        color: $smTextColor2;
        font-size: $fz-16;
        font-weight: $fontWeightMedium;
      }
    }
    &-airport span {
      color: $primaryColor;
      font-size: $fz-14;
      font-weight: $fontWeightBold;
    }
  }

  .details {
    width: 100px;
    text-align: center;
    &-duration {
      margin-bottom: 10px;
      span {
        color: $smTextColor2;
        font-size: $fz-13;
        font-weight: $fontWeightMedium;
      }
    }

    .chart {
      width: 100%;
      height: 4px;
      background-color: $smTextColor2;
      position: relative;
      margin-bottom: 8px;
      &::before,
      &::after {
        content: "";
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $smTextColor2;
        position: absolute;
      }
      &::before {
        top: 50%;
        left: 0%;
        transform: translate(-50%, -50%);
      }

      &::after {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%);
      }
      &-circle {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: $secondaryColor;
        border: 2px solid $whiteColor;
        position: absolute;
        &:nth-child(1) {
          left: 30%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
        &:nth-child(2) {
          right: 20%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
    &-chart {
      color: $secondaryColor;
      font-size: $fz-11;
      font-weight: $fontWeightMedium;
    }
  }

  .price {
    @include center;
    flex-direction: column;
    &-amount {
      color: $primaryColor;
      font-size: $fz-28;
      font-weight: $fontWeightSemiBold;
      margin-bottom: 5px;
    }
    &-btn {
      font-size: $fz-16;
      font-weight: $fontWeightBold;
      background-color: $secondaryColor;
      color: $whiteColor;
      padding: 10px 20px;
      border-radius: 4px;
    }
  }

  .details-tag {
    text-align: center;
    span {
      position: relative;
      left: 19%;
      font-size: $fz-11;
      font-weight: $fontWeightMedium;
      text-transform: capitalize;
      padding: 5px 8px;
      background-color: $primaryColor;
      color: $whiteColor;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      cursor: pointer;
    }
  }
  .continue {
    margin-top: 40px;
    @include space-between;
    text-transform: capitalize;
    button {
      font-size: $fz-18;
      font-weight: $fontWeightBold;
      background-color: $secondaryColor;
      color: $whiteColor;
      padding: 15px 30px;
      border-radius: 4px;
    }
    p {
      font-size: $fz-18;
      font-weight: $fontWeightSemiBold;
      color: $primaryColor;
    }
  }
}
