.travelling {
  .container {
    padding: 0;
  }
  &-header {
    margin-bottom: 10px;
    h3 {
      border-radius: 4px;
      padding: 15px 28px;
      color: $whiteColor;
      background-color: $primaryColor;
      font-size: $fz-24;
      font-weight: $fontWeightSemiBold;
      text-align: center;
      text-transform: capitalize;
    }
  }

  &-box {
    padding: 40px 70px;
    background-color: $whiteColor;
    border-radius: 4px;
    margin-bottom: 10px;
    &-top {
      @include space-between;
      h2 {
        font-size: $fz-24;
        font-weight: $fontWeightSemiBold;
        color: $primaryColor;
        text-transform: uppercase;
      }
      span {
        font-size: $fz-20;
        font-weight: $fontWeightBold;
        background-color: $primaryColor;
        color: $whiteColor;
        width: 30px;
        height: 30px;
        margin-right: 10px;
        line-height: 30px;
        display: inline-block;
        text-align: center;
        border-radius: 4px;
      }
      i {
        font-size: $fz-24;
        color: $secondaryColor;
      }
    }

    &-form-item {
      margin-top: 40px;

      .title {
        font-size: $fz-20;
        font-weight: $fontWeightSemiBold;
        color: $primaryColor;
        text-transform: capitalize;
        padding-left: 24px;
        position: relative;
        margin-bottom: 25px;
        &::before {
          content: "";
          width: 4px;
          height: 100%;
          background-color: $secondaryColor;
          position: absolute;
          left: 0;
          top: 0;
          border-radius: 4px;
        }
      }
    }

    .personal-info {
      .content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        // & > div {
        //   border: 1px solid;
        // }
        text-transform: capitalize;
        label {
          font-size: $fz-16;
          font-weight: $fontWeightMedium;
          color: $primaryColor;
          display: block;
          margin-bottom: 10px;
        }
        input,
        select {
          border: 2px solid $bgColor;
          border-radius: 4px;
          padding: 15px;
          width: 100%;
          font-size: $fz-16;
          font-weight: $fontWeightMedium;
          color: $smTextColor2;
          &::placeholder {
            color: $smTextColor2;
          }
          &:focus {
            border: 2px solid $secondaryColor;
          }
        }
        input[type="date"] {
          text-transform: uppercase;
        }

        .birth-gender {
          display: flex;
          gap: 20px;
          & > * {
            flex-basis: 50%;
          }
        }

        .expiry-item {
          display: flex;
          width: 100%;
          gap: 10px;
          align-items: center;
          & > * {
            flex-basis: 33%;
          }
          .checkbox {
            display: flex;
            input {
              display: none;
            }
            label,
            i {
              cursor: pointer;
              color: $smTextColor2;
            }
            label span {
              margin-left: 10px;
            }
            input + label {
              color: $smTextColor2;
              i {
                width: 10px;
              }
              .fa-square-o {
                display: inline-block;
              }
              .fa-check-square-o {
                display: none;
              }
            }
            input:checked + label {
              color: $primaryColor;
              .fa-check-square-o {
                display: inline-block;
                color: $primaryColor;
              }
              .fa-square-o {
                display: none;
              }
            }
          }
        }
      }
    }
    .baggage {
      .content-box {
        border: 2px solid $bgColor;
        padding: 10px 20px;
        text-transform: capitalize;
        margin-bottom: 10px;
      }
      .cabin-baggage {
        @include space-between;
        &:not(:last-child) {
          margin-bottom: 35px;
        }
        position: relative;
        text-align: center;
        &-item {
          font-size: $fz-16;
          font-weight: $fontWeightSemiBold;
          color: $primaryColor;
        }
        &-details {
          font-size: $fz-16;
          font-weight: $fontWeightMedium;
          color: $smTextColor2;
        }
        &-price {
          font-size: $fz-18;
          font-weight: $fontWeightSemiBold;
          color: $primaryColor;
          margin-right: 100px;
        }
        &-icon {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          font-size: $fz-22;
          background-color: $bgColor5;
          color: $whiteColor;
          text-align: center;
          width: 30px;
          height: 30px;
          line-height: 30px;
          border-radius: 50%;
          @include center;
        }
      }

      .add-baggage {
        text-transform: capitalize;
        &-container {
          @include space-between;
          align-items: stretch;
          gap: 10px;
          margin-bottom: 10px;
        }
        p {
          padding: 18px 25px;
          display: flex;
          background-color: $bgColor;
          border-radius: 4px;
          flex-basis: 90%;
          & > * {
            flex-basis: 50%;
          }
        }
        &-item {
          font-size: $fz-16;
          font-weight: $fontWeightSemiBold;
          color: $primaryColor;
          position: relative;
          isolation: isolate;
          i {
            cursor: pointer;
            display: inline-block;
            &:hover + span {
              display: inline-block;
            }
          }
          span {
            font-size: $fz-13;
            font-weight: $fontWeightMedium;
            color: $primaryColor;
            background-color: $whiteColor;
            display: none;
            text-align: center;
            width: 220px;
            padding: 10px;
            border-radius: 4px;
            position: absolute;
            right: 165px;
            top: -70px;
            filter: drop-shadow(
              0px 0px 5px rgba($color: $primaryColor, $alpha: 0.2)
            );
            &::after {
              content: "";
              position: absolute;
              top: 100%;
              left: 50%;
              transform: translate(-50%, -50%) rotate(45deg);
              height: 15px;
              width: 15px;
              background-color: $whiteColor;
              z-index: -2;
            }
          }
        }
        &-details {
          font-size: $fz-16;
          font-weight: $fontWeightMedium;
          color: $smTextColor2;
        }
        &-input {
          background-color: $bgColor;
          width: 100px;
          input {
            padding: 10px 0 10px 20px;
            width: 100%;
            height: 100%;
          }
        }
        .price-btn {
          font-size: $fz-18;
          font-weight: $fontWeightBold;
          color: $whiteColor;
          background-color: $secondaryColor;
          border-radius: 4px;
          flex-basis: 10%;
          button {
            width: 130px;
            text-align: center;
            display: inline-block;
            height: 100%;
          }
        }
      }
    }

    .pricing-content {
      display: flex;
      gap: 10px;
    }
    .pricing-table {
      border: 2px solid transparent;
      border-radius: 4px;
      padding: 35px 40px;
      width: 33%;
      position: relative;
      &:hover {
        border: 2px solid $secondaryColor;
        .price-close i {
          display: inline-block;
        }
        .price-amount {
          button {
            color: $bgColor5;
            background-color: $bgColor;
          }
        }
      }
      .price-close i {
        font-size: $fz-20;
        color: $primaryColor;
        background-color: $whiteColor;
        border-radius: 50%;
        display: none;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        box-shadow: 0 0 5px rgba($color: $primaryColor, $alpha: 0.5);
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%, -50%);
      }
      .img {
        text-align: center;
        font-size: $fz-30;
        color: $primaryColor;
        margin-bottom: 25px;
      }
      .pricing-title {
        text-align: center;
        color: $primaryColor;
        font-size: $fz-20;
        font-weight: $fontWeightSemiBold;
        margin-bottom: 30px;
      }
      .price-details-item {
        color: $bgColor5;
        font-size: $fz-16;
        font-weight: $fontWeightMedium;
        text-transform: capitalize;
        margin-bottom: 15px;
        i {
          width: 20px;
          text-align: center;
        }
        .fa-check {
          color: $secondaryColor;
        }
        .fa-check + span {
          color: $primaryColor;
        }
      }

      .price-amount {
        text-align: center;
        button {
          width: 110px;
          color: $whiteColor;
          font-size: $fz-18;
          font-weight: $fontWeightBold;
          background-color: $secondaryColor;
          padding: 10px 0;
          border-radius: 4px;
          margin-top: 25px;
        }
      }
    }
  }

  &-passenger {
    margin-top: 30px;
    button {
      padding: 10px 30px;
      border-radius: 4px;
      font-size: $fz-18;
      font-weight: $fontWeightBold;
      color: $whiteColor;
    }
    i {
      margin-right: 10px;
    }
    .add {
      background-color: $smTextColor2;
    }
    .continue {
      background-color: $secondaryColor;
      margin-left: 10px;
    }
  }
}
