$fontFamily: "Work Sans", sans-serif;
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightExtraBold: 800;

$fz-11: 11px;
$fz-13: 13px;
$fz-14: 14px;
$fz-15: 15px;
$fz-16: 16px;
$fz-18: 18px;
$fz-19: 19px;
$fz-20: 20px;
$fz-22: 22px;
$fz-24: 24px;
$fz-26: 26px;
$fz-28: 28px;
$fz-30: 30px;
$fz-39: 39px;

$primaryColor: #404057;
$secondaryColor: #32d093;
$bgColor: #edf2f6;
$bgColor2: #f6fbff;
$smTextColor: #cccccc;
$smTextColor2: #b4b4c8;
$whiteColor: #ffffff;
$lineColor: #545671;
